h1 {
  color: blueviolet;
  background-color: cyan;
  border-radius: 8px;
  padding: 20px;
  border-bottom: 10px;
  font-family: "Sixtyfour Convergence", Helvetica, sans-serif;
}

nav {
  background-color: mistyrose;
}

tr {
  color: yellow;
  background-color: green;
}

p {
  font-family: "Playwrite GB S";
}
