h1 {
  color: blueviolet;
  background-color: cyan;
  padding: 20px;
  border-bottom: 10px solid black;
  font-family: "Sixtyfour Convergence", Helvetica, sans-serif;
  text-shadow: 100px saddlebrown;
}

nav {
  background-color: mistyrose;
}

tr {
  color: yellow;
  background-color: green;
}

p {
  font-family: "Playwrite GB S";
}

body {
  background-color: gray;
}
